html {
  font-size: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
 background: #feffe0;
  color: #000;
  font-family: 'Noto Sans', 'Verdana', sans-serif;
  margin: 4rem;
  /* note, this will not work for all page layouts */
}

h1, h2 {
   font-family: 'PT Serif', 'Times', serif;
}

#grid {
    display: grid;
    max-width: auto;
    grid-template-rows: auto;
    grid-template-columns: auto;
    justify-content: center;
}

/*  the #container div (below) holds ONE chart  */
#container {
  max-width: 800px;
  height: auto;

}

#container1 {
 max-width: 800px;
 height: auto;
}

p {
  max-width: 800px;
  line-height: 1.5;
}

/* link styles */
a {
  color: #f44336;
}

a:hover {
  color: #fbc1bc;
}

a:visited {
  color: #71241f;
  }
}

/* media queries below - CHANGE if needed so your chart works well on phones */
@media screen and (max-width: 700px) {
  body {
    margin: 1rem;
  }

  #container {
    width: 100%;
  }


 #container1 {
width: 100%;
}
